/*
Theme Name: Cremona1 Tv
Author: Dueper Design
Author URI: http://www.dueper.net
Description: A semantic HTML/CSS framework base theme for WordPress Developers ported from Twitter Bootstrap
Version: .87
=======
License: GNU General Public License
License URI: license.txt

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/********************************************************

Comfortable with LESS?  Check out the /less folder where the bootstrapwp.less file is the master complier

////////   IMPORTANT!  Make custom edits/changes in the less/bswp-custom.less file
////////   to safely retain the ability to update the less files with future
////////   versions of Bootstrap or BootstrapWP

-------------------------------------------------- */


/********************************************
*
*		Aggiungo Stili Personalizzati
*
*********************************************/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Happy+Monkey);

@font-face {
    font-family: 'entypo';
    src: url('css/entypo/entypo.eot');
    src: url('css/entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('css/entypo/entypo.woff') format('woff'),
         url('css/entypo/entypo.ttf') format('truetype'),
         url('css/entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'entypo-social';
    src: url('css/entypo/entypo-social.eot');
    src: url('css/entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('css/entypo/entypo-social.woff') format('woff'),
         url('css/entypo/entypo-social.ttf') format('truetype'),
         url('css/entypo/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}

.entypo{ font-family:'entypo'; display:inline-block; vertical-align: middle;font-size:42px;}
.entypo.small{ font-size:22px; }
.entypo.large{ font-size:122px; }

footer{ margin-top:20px; color:#fff;}
footer a{ color:#fff;}

.top-margin { margin-top:20px;}

.logo{ padding-top:20px; padding-bottom:20px;}

.bg-lightblue { background-color:#104c94; }
.bg-lightblue.menu-contenitore { border-bottom: 3px solid #9FB7D4; }

.bg-blue { background-color:#0C396F; }

.bg-darkblue { background-color:#08264A; }
.bg-smoke { background:#f9f9f9;}

.streaming{ padding:20px 0px;}

.titoletto{ background:#ddd; padding:5px 10px; color:#0C396F; text-transform:uppercase;}
.titoletto.bg-blue{ background:#0C396F; color:#fff;}

/* palinsesto */
.tab-pane .accordion-heading { background: #ddd; color: #0C396F; text-transform: uppercase;}
.nav-tabs > li > a { background: #ddd; color: #0C396F; text-transform: uppercase; }
.nav-tabs > li > a:hover {  background: #0C396F; color:#fff;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover { background: #0C396F; color:#fff;}
.nav-tabs { margin-bottom:3px; }
.accordion-inner { padding: 0px; }
.accordion-inner > div { padding: 5px 10px; border-bottom:2px solid #fff; }

.accordion-inner div.bg-cremonese { background: url(img/bg-cremonese.jpg) repeat top left transparent;}
.accordion-inner div.bianco { background: #fff;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
hr.small { margin: 10px 0px !important;}

.scrollup{
    width:45px;
    height:45px;
    position:fixed;
    bottom:30px;
    right:30px;
    display:none;
    text-indent:-9999px;
	z-index:11;
    background: url(img/to-top.png) no-repeat;
}

h4 span.label { font-size:20px; margin-right:20px; background:#0C396F;}

footer { min-height:100px; padding-top:20px;}

.playlist { list-style:none;}
.playlist a { padding: 5px 0px 5px 10px; display:block; background:#eee; border-left:3px solid #104c94;}
.playlist a:hover, .playlist li.current-cat > a { padding: 5px 0px 5px 10px; display:block; background:#104c94; color:#fff; border-left:3px solid #104c94; text-decoration:none; border-left:3px solid #9FB7D4; }
.playlist ul { list-style:none; margin:0px; }
.playlist ul li { margin-bottom:5px; padding:5px 0;}
.playlist ul li ul.children { margin-top:5px solid #fff; margin-left:20px; }
.playlist ul li ul.children li { margin-bottom:0; }

.archive .type-video {
	height: 280px;
}

/*pulsantino rosso per natale*/
.link-red a {
	background-color:#CC0000;
}
	
	
/* pagenavi */

.wp-pagenavi {
	clear: both;
	text-align:right;
	margin:40px 0px;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	padding: 6px 10px;
	margin: 2px;
	background:#eeeeee;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background:#08264A;
	color:#fff;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

/****************/
/* SMS */
/****************/
.page-template-page-listSMS-php #wpadminbar {
    display:none;
}

.type-sms {
    min-height:50px;
    padding:20px;
    border-bottom:2px solid #ccc;
}
.type-sms.marked {
    background: #f0f0f0;
}

.type-sms .lead{
    font-size:24px;
    color:#222;
    font-style: italic;
    display: inline-block;
    margin: 10px 0;
}
.type-sms .number{
    display: block;
    color:#777;
}
.type-sms .deleteSMS{
    background: #d9534f;
    color: #fff;
    border: 0;
    width:50px;
    height:50px;
    line-height: 41px;
    
    border-radius: 50%;
}
.type-sms .lettoSMS{
    background: #999;
    color: #fff;
    border: 0;
    width:50px;
    height:50px;
    line-height: 41px;
    
    border-radius: 50%;
}
.type-sms .lettoSMS.letto{
    background: transparent;
    border:2px solid #999;
    color: #999;
    width:50px;
    height:50px;
    line-height: 41px;
    
    border-radius: 50%;
}
.type-sms date{
    display: block;
    color: #777;
    line-height: 1;
    margin-top: 20px;
}
.type-sms date .hour{
    font-weight: 100;
    display:block;
    font-size:30px;
}
.type-sms date .data{
    margin-top: 3px;
    display:block;
}

/****************/
/* MONDOPADANO */
/****************/
/*
.mondopadano-container{
    background: #0095CC;
    text-align: center;
    padding: 20px 10px 7px 10px;
    margin-top: 10px;
}
.mondopadano-container img{
    width: 100%;
    border: #fff 1px solid;
}

.mondopadano-container img:hover{
    padding: 3px;
    border: #cc0000 1px solid;
}
.mondopadano-container p{
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    line-height: 28px;
}
.mondopadano-container a{
    color: #cc0000;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
}
.mondopadano-container a.pdf{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

*/

